---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";

const posts = (await getCollection("formats")).sort((a, b) =>
  a.data.title.localeCompare(b.data.title)
);
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <div class="container">
        {
          posts.map((post) => (
            <Card
              title={post.data.title}
              description={post.data.description}
              heroImage={post.data.heroImage}
              logo={post.data.logo}
              highres={post.data.highres}
              sampleFrequency={post.data.sampleFrequency}
              bitDepth={post.data.bitDepth}
              bitRate={post.data.bitRate}
              compression={post.data.compression}
              fileFormats={post.data.fileFormats}
              streaming={post.data.streaming}
              audiophileLevel={post.data.audiophileLevel}
              slug={post.slug}
            />
          ))
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
