---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";

type Props = CollectionEntry<"formats">["data"];

const {
  title,
  description,
  heroImage,
  logo,
  highres,
  sampleFrequency,
  bitDepth,
  bitRate,
  compression,
  fileFormats,
  streaming,
  audiophileLevel
} = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="container">
          <Card
            title={title}
            description={description}
            heroImage={heroImage}
            logo={logo}
            highres={highres}
            sampleFrequency={sampleFrequency}
            bitDepth={bitDepth}
            bitRate={bitRate}
            compression={compression}
            fileFormats={fileFormats}
            streaming={streaming}
            audiophileLevel={audiophileLevel}
          />
        </div>

        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
